<h1 color = "green"> Data Visualization for a CSV File </h1>

<h2> Importing CSV file </h2>

In [8]:
# importing modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.figure import Figure

#importing csv file
data = pd.read_csv('data.csv')
df = pd.DataFrame(data)
df

           Country  Number_of_Houses_Bought
0              USA                     1200
1           Canada                      800
2   United Kingdom                      600
3        Australia                      450
4          Germany                      300
..             ...                      ...
75        Suriname                      200
76          Guyana                      230
77         Lesotho                      120
78           Tonga                       90
79       Mauritius                      160

[80 rows x 2 columns]